[defaults]
INVENTORY = ansible.dev.yaml
interpreter_python = auto_silent
log_path = ansible.log
roles_path = roles
vault_password_file = scripts/get-ansible-vault-password.sh
# display_args_to_stdout = True
stdout_callback = community.general.yaml
bin_ansible_callbacks = True
