sendmail: mail-to-root
        comment Send mails to root@pam's email address.
        disable true
        mailto-user root@pam

smtp: {{ smtp_account.name }}
        comment Send mails to root from {{ smtp_account.user }}.
        from-address {{ smtp_account.from }}
        mailto-user root@pam
        mode tls
        server {{ smtp_account.server }}
        username {{ smtp_account.user }}

matcher: default-matcher
        comment Route all notifications to {{ smtp_account.name }}.
        disable true
        mode all
        target {{ smtp_account.name }}

matcher: Errors
        comment Send errors and warnings to {{ smtp_account.name }}.
        match-severity error,unknown,warning
        mode all
        target {{ smtp_account.name }}
