[Unit]
Description=Prometheus Proxmox VE Exporter
Documentation=https://github.com/prometheus-pve/prometheus-pve-exporter

[Service]
Restart=always
User={username}
ExecStart={{ pve_exporter_venv }}/bin/pve_exporter --config.file {{ pve_exporter_yml }}

[Install]
WantedBy=multi-user.target
